In [3]:
import requests
from bs4 import BeautifulSoup

In [31]:
html = requests.get('https://www.tripadvisor.com/Hotel_Review-g14782503-d3737584-Reviews-Hotel_Tentrem_Yogyakarta-Yogyakarta_Yogyakarta_Region_Java.html')
html.status_code

200

In [7]:
soup = BeautifulSoup(html.content,'lxml')

In [9]:
hotel = []
for name in soup.findAll('div',{'class':'listing_title'}):
  hotel.append(name.text)
hotel

['      El Hotel Royale Yogyakarta Malioboro',
 '      Grand Zuri Malioboro Yogyakarta',
 '      @HOM Premiere Timoho',
 '      Ibis Yogyakarta Malioboro Hotel',
 '      Hotel Neo Malioboro',
 '      Grand Senyum Hotel',
 '      Novotel Suites Yogyakarta Malioboro',
 "      D'Kaliurang Resort & Convention",
 '      Duta Garden Hotel',
 '      favehotel Malioboro Yogyakarta',
 '      Horaios Malioboro Hotel',
 '      Hotel Unisi Yogyakarta',
 '      Ayola Tasneem Convention Hotel',
 '      Front One Cabin Malioboro Jogja',
 '      Sabana Homestay',
 '      Arte Hotel Malioboro Yogyakarta',
 '      Sagan Hotel',
 '      RedDoorz @ Mantrirejon 2',
 '      Griya Jogja Hotel',
 '      OYO 804 Ndalem Maharani Guest House',
 '      Aveta Hotel Malioboro',
 '      OYO 585 Hotel Perwita Sari',
 '      Ndalem Malioboro',
 '      Hotel Tentrem Yogyakarta',
 '      Patra Malioboro Hotel',
 '      Royal Malioboro Yogyakarta by Aston',
 '      OYO 206 Hotel Candra Kirana',
 '      Kosala Jogja',
 '      OYO 411 Homestay Tentrem Ayem',
 '      OYO 369 Hotel Sekar Ayu']

In [12]:
harga  = []
for h in soup.findAll('div',{'class':'price-wrap'}):
  harga.append(h.text)
harga

['$26',
 '$25$23',
 '$16',
 '$22',
 '$30',
 '$25',
 '$34$33',
 '$13',
 '$24',
 '$39$22',
 '$12',
 '$16',
 '$15$9',
 '$14',
 '$8',
 '$15',
 '$12',
 '$8$7',
 '$13',
 '$12$7',
 '$29',
 '$8',
 '$18',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [16]:
ratings  = []
for rating in soup.findAll('a',{'class':'ui_bubble_rating'}):
  ratings.append(rating['alt'])
ratings

['4.5 of 5 bubbles',
 '4.5 of 5 bubbles',
 '4.5 of 5 bubbles',
 '4 of 5 bubbles',
 '4 of 5 bubbles',
 '4.5 of 5 bubbles',
 '4.5 of 5 bubbles',
 '4.5 of 5 bubbles',
 '4 of 5 bubbles',
 '4.5 of 5 bubbles',
 '4 of 5 bubbles',
 '4 of 5 bubbles',
 '4 of 5 bubbles',
 '4.5 of 5 bubbles',
 '4.5 of 5 bubbles',
 '4.5 of 5 bubbles',
 '3.5 of 5 bubbles',
 '4 of 5 bubbles',
 '4 of 5 bubbles',
 '4 of 5 bubbles',
 '4 of 5 bubbles',
 '3.5 of 5 bubbles',
 '4.5 of 5 bubbles',
 '4.5 of 5 bubbles',
 '5 of 5 bubbles',
 '5 of 5 bubbles',
 '4.5 of 5 bubbles',
 '4.5 of 5 bubbles',
 '5 of 5 bubbles',
 '5 of 5 bubbles']

In [19]:
reviews  = []
for review in soup.findAll('a',{'class':'review_count'}):
  reviews.append(review.text.strip())
reviews

['87 reviews',
 '1,002 reviews',
 '29 reviews',
 '905 reviews',
 '1,666 reviews',
 '30 reviews',
 '58 reviews',
 '10 reviews',
 '287 reviews',
 '329 reviews',
 '11 reviews',
 '46 reviews',
 '49 reviews',
 '16 reviews',
 '53 reviews',
 '24 reviews',
 '34 reviews',
 '5 reviews',
 '13 reviews',
 '21 reviews',
 '11 reviews',
 '20 reviews',
 '3 reviews',
 '1,960 reviews',
 '1 review',
 '1 review',
 '2 reviews',
 '5 reviews',
 '2 reviews',
 '2 reviews']

In [20]:
import pandas

In [21]:
d = {'Hotel':hotel,'Ratings':ratings, 'No_of_reviews':reviews,'Harga':harga}

In [23]:
df=pandas.DataFrame.from_dict(d)
df

                                         Hotel  ...   Harga
0         El Hotel Royale Yogyakarta Malioboro  ...     $26
1              Grand Zuri Malioboro Yogyakarta  ...  $25$23
2                         @HOM Premiere Timoho  ...     $16
3              Ibis Yogyakarta Malioboro Hotel  ...     $22
4                          Hotel Neo Malioboro  ...     $30
5                           Grand Senyum Hotel  ...     $25
6          Novotel Suites Yogyakarta Malioboro  ...  $34$33
7              D'Kaliurang Resort & Convention  ...     $13
8                            Duta Garden Hotel  ...     $24
9               favehotel Malioboro Yogyakarta  ...  $39$22
10                     Horaios Malioboro Hotel  ...     $12
11                      Hotel Unisi Yogyakarta  ...     $16
12              Ayola Tasneem Convention Hotel  ...   $15$9
13             Front One Cabin Malioboro Jogja  ...     $14
14                             Sabana Homestay  ...      $8
15             Arte Hotel Malioboro Yogyakarta  ...     $15
16                                 Sagan Hotel  ...     $12
17                    RedDoorz @ Mantrirejon 2  ...    $8$7
18                           Griya Jogja Hotel  ...     $13
19         OYO 804 Ndalem Maharani Guest House  ...   $12$7
20                       Aveta Hotel Malioboro  ...     $29
21                  OYO 585 Hotel Perwita Sari  ...      $8
22                            Ndalem Malioboro  ...     $18
23                    Hotel Tentrem Yogyakarta  ...
24                       Patra Malioboro Hotel  ...
25         Royal Malioboro Yogyakarta by Aston  ...
26                 OYO 206 Hotel Candra Kirana  ...
27                                Kosala Jogja  ...
28               OYO 411 Homestay Tentrem Ayem  ...
29                     OYO 369 Hotel Sekar Ayu  ...

[30 rows x 4 columns]